#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	touch man/hello.1
	dh_auto_build

override_dh_auto_clean:
	[ ! -f Makefile ] || $(MAKE) distclean

override_dh_installdocs:
	dh_installdocs NEWS
